body, html {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw; /* Alterado para 100vw para ocupar toda a largura da viewport */
  height: 100vh;
  background-color: #A99D98;
  display: flex;
  justify-content: center;
  align-items: center;
}
